# Exercício Gráfico Fluxo.
Vocês vão utilizar um dos tipos de gráfico do tipo Fluxo (Flow).  
  
Referência: https://www.python-graph-gallery.com/  
  
Em grupo vocês devem decidir qual base aberta vão utilizar para fazer uma demonstracão de um fluxo de dados.  
  
No final da aula de hoje vocês devem ter decidido qual base utilizar e se possível uma tentatativa de como utilizar um dos gráficos de Fluxo.  
  
  
Ao final da atividade todos devem responde o formulário:  
https://docs.google.com/forms/d/1ymJ3R0-M8hTN4zVlAAaGF5vQ_gd9HSfQY6olZJPMuUU

Base selecionada: https://www.kaggle.com/amandaroseknudsen/edgarfoodemissions/download
Gráfico selecionado: Sankey

In [96]:
#Pandas
from IPython.display import Image, display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [97]:
df = pd.read_csv('EDGARfood.csv',sep=",")
df=df[df.Year == 2015]

In [98]:
dfContinents = pd.read_csv('paises.csv',sep=";")

In [99]:
df

,Food System Stage,FS Stage Order,GHG,Country,Year,GHG Emissions,Unit
25,Land,Stage 1,Methane (CH4),Afghanistan,2015,0.0000,"metric tons CO2e (GWP-100, AR5)"
51,Land,Stage 1,Methane (CH4),Albania,2015,241.6000,"metric tons CO2e (GWP-100, AR5)"
77,Land,Stage 1,Methane (CH4),Algeria,2015,104.5000,"metric tons CO2e (GWP-100, AR5)"
103,Land,Stage 1,Methane (CH4),Angola,2015,782808.4000,"metric tons CO2e (GWP-100, AR5)"
129,Land,Stage 1,Methane (CH4),Argentina,2015,125203.7000,"metric tons CO2e (GWP-100, AR5)"
...,...,...,...,...,...,...,...
128595,Waste,Stage 8,Nitrous oxide (N2O),Viet Nam,2015,922927.8818,"metric tons CO2e (GWP-100, AR5)"
128621,Waste,Stage 8,Nitrous oxide (N2O),Western Sahara,2015,4751.4500,"metric tons CO2e (GWP-100, AR5)"
128647,Waste,Stage 8,Nitrous oxide (N2O),Yemen,2015,152628.3400,"metric tons CO2e (GWP-100, AR5)"
128673,Waste,Stage 8,Nitrous oxide (N2O),Zambia,2015,91272.3600,"metric tons CO2e (GWP-100, AR5)"
128699,Waste,Stage 8,Nitrous oxide (N2O),Zimbabwe,2015,115716.4900,"metric tons CO2e (GWP-100, AR5)"

In [63]:
df.columns

Index(['Food System Stage', 'FS Stage Order', 'GHG', 'Country', 'Year',
       'GHG Emissions', 'Unit'],
      dtype='object')

In [64]:
dfContinents

                       Country Continent
0                  Afghanistan      Asia
1                      Albania    Europe
2                      Algeria    Africa
3               American Samoa   Oceania
4                       Angola    Africa
..                         ...       ...
220  Wallis and Futuna Islands   Oceania
221             Western Sahara    Africa
222                      Yemen      Asia
223                     Zambia    Africa
224                   Zimbabwe    Africa

[225 rows x 2 columns]

In [102]:
df = pd.merge(df, dfContinents, how="left", on=["Country"])

In [103]:
df

,Food System Stage,FS Stage Order,GHG,Country,Year,GHG Emissions,Unit,Continent
0,Land,Stage 1,Methane (CH4),Afghanistan,2015,0.0000,"metric tons CO2e (GWP-100, AR5)",Asia
1,Land,Stage 1,Methane (CH4),Albania,2015,241.6000,"metric tons CO2e (GWP-100, AR5)",Europe
2,Land,Stage 1,Methane (CH4),Algeria,2015,104.5000,"metric tons CO2e (GWP-100, AR5)",Africa
3,Land,Stage 1,Methane (CH4),Angola,2015,782808.4000,"metric tons CO2e (GWP-100, AR5)",Africa
4,Land,Stage 1,Methane (CH4),Argentina,2015,125203.7000,"metric tons CO2e (GWP-100, AR5)",South America
...,...,...,...,...,...,...,...,...
4945,Waste,Stage 8,Nitrous oxide (N2O),Viet Nam,2015,922927.8818,"metric tons CO2e (GWP-100, AR5)",Asia
4946,Waste,Stage 8,Nitrous oxide (N2O),Western Sahara,2015,4751.4500,"metric tons CO2e (GWP-100, AR5)",Africa
4947,Waste,Stage 8,Nitrous oxide (N2O),Yemen,2015,152628.3400,"metric tons CO2e (GWP-100, AR5)",Asia
4948,Waste,Stage 8,Nitrous oxide (N2O),Zambia,2015,91272.3600,"metric tons CO2e (GWP-100, AR5)",Africa
4949,Waste,Stage 8,Nitrous oxide (N2O),Zimbabwe,2015,115716.4900,"metric tons CO2e (GWP-100, AR5)",Africa

In [104]:
#df.drop(columns=['Country', 'Year', 'Unit', 'FS Stage Order'], inplace = True)

df.drop(columns=['Year', 'Unit', 'FS Stage Order', 'Continent'], inplace = True)

In [105]:
df

     Food System Stage                  GHG         Country  GHG Emissions
0                 Land        Methane (CH4)     Afghanistan         0.0000
1                 Land        Methane (CH4)         Albania       241.6000
2                 Land        Methane (CH4)         Algeria       104.5000
3                 Land        Methane (CH4)          Angola    782808.4000
4                 Land        Methane (CH4)       Argentina    125203.7000
...                ...                  ...             ...            ...
4945             Waste  Nitrous oxide (N2O)        Viet Nam    922927.8818
4946             Waste  Nitrous oxide (N2O)  Western Sahara      4751.4500
4947             Waste  Nitrous oxide (N2O)           Yemen    152628.3400
4948             Waste  Nitrous oxide (N2O)          Zambia     91272.3600
4949             Waste  Nitrous oxide (N2O)        Zimbabwe    115716.4900

[4950 rows x 4 columns]

In [106]:
df=df[df.Country == 'Brazil']

In [107]:
dfSummary = df.groupby(['Food System Stage', 'GHG'])['GHG Emissions'].sum()

In [108]:
dfSummary

Food System Stage  GHG
Consumer           Carbon dioxide (CO2)     3.706761e+06
                   Methane (CH4)            4.609766e+05
                   Nitrous oxide (N2O)      2.236096e+06
Farm               Carbon dioxide (CO2)     4.209715e+07
                   Methane (CH4)            4.390335e+08
                   Nitrous oxide (N2O)      1.411839e+08
Land               Carbon dioxide (CO2)     5.312697e+08
                   Methane (CH4)            9.770882e+05
                   Nitrous oxide (N2O)      2.825260e+04
Packaging          Carbon dioxide (CO2)     1.855868e+07
                   Methane (CH4)            1.099385e+06
                   Nitrous oxide (N2O)      2.535679e+05
Processing         Carbon dioxide (CO2)     6.325275e+06
                   Methane (CH4)            3.221354e+07
                   Nitrous oxide (N2O)      1.903494e+06
Retail             Carbon dioxide (CO2)     1.415793e+06
                   F-gases (Fluorinated)    2.736974e+06
                   Methane (CH4)            3.151585e+04
                   Nitrous oxide (N2O)      6.986909e+03
Transport          Carbon dioxide (CO2)     2.079481e+07
                   Methane (CH4)            1.015580e+06
                   Nitrous oxide (N2O)      1.953518e+05
Waste              Carbon dioxide (CO2)     1.354404e+05
                   Methane (CH4)            7.620691e+07
                   Nitrous oxide (N2O)      3.148454e+06
Name: GHG Emissions, dtype: float64

In [109]:
dfSummary.reset_index()

   Food System Stage                    GHG  GHG Emissions
0           Consumer   Carbon dioxide (CO2)   3.706761e+06
1           Consumer          Methane (CH4)   4.609766e+05
2           Consumer    Nitrous oxide (N2O)   2.236096e+06
3               Farm   Carbon dioxide (CO2)   4.209715e+07
4               Farm          Methane (CH4)   4.390335e+08
5               Farm    Nitrous oxide (N2O)   1.411839e+08
6               Land   Carbon dioxide (CO2)   5.312697e+08
7               Land          Methane (CH4)   9.770882e+05
8               Land    Nitrous oxide (N2O)   2.825260e+04
9          Packaging   Carbon dioxide (CO2)   1.855868e+07
10         Packaging          Methane (CH4)   1.099385e+06
11         Packaging    Nitrous oxide (N2O)   2.535679e+05
12        Processing   Carbon dioxide (CO2)   6.325275e+06
13        Processing          Methane (CH4)   3.221354e+07
14        Processing    Nitrous oxide (N2O)   1.903494e+06
15            Retail   Carbon dioxide (CO2)   1.415793e+06
16            Retail  F-gases (Fluorinated)   2.736974e+06
17            Retail          Methane (CH4)   3.151585e+04
18            Retail    Nitrous oxide (N2O)   6.986909e+03
19         Transport   Carbon dioxide (CO2)   2.079481e+07
20         Transport          Methane (CH4)   1.015580e+06
21         Transport    Nitrous oxide (N2O)   1.953518e+05
22             Waste   Carbon dioxide (CO2)   1.354404e+05
23             Waste          Methane (CH4)   7.620691e+07
24             Waste    Nitrous oxide (N2O)   3.148454e+06

In [80]:
#df = df[df.Continent=='Europe']

In [127]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

cores = ['#F08080', '#FF7F50', '#FFFFE0', '#98FB98', '#66CDAA', '#AFEEEE', '#B0E0E6', '#DEB887', '#DCDCDC', '#9370DB', '#FFEFD5', '#4682B4', '#778899']

# Nodes & links
nodes = [['ID', 'Label', 'Color']]

contador = 0

for item in df['Country'].unique():
    nodes.append([contador, item, cores[contador]])
    contador += 1 
    
for item in df['Food System Stage'].unique():
    nodes.append([contador, item, cores[contador]])
    contador += 1
    
for item in df['GHG'].unique():
    nodes.append([contador, item, cores[contador]])
    contador += 1

In [128]:
nodes

[['ID', 'Label', 'Color'],
 [0, 'Brazil', '#F08080'],
 [1, 'Land', '#FF7F50'],
 [2, 'Farm', '#FFFFE0'],
 [3, 'Processing', '#98FB98'],
 [4, 'Transport', '#66CDAA'],
 [5, 'Packaging', '#AFEEEE'],
 [6, 'Retail', '#B0E0E6'],
 [7, 'Consumer', '#DEB887'],
 [8, 'Waste', '#DCDCDC'],
 [9, 'Methane (CH4)', '#9370DB'],
 [10, 'Carbon dioxide (CO2)', '#FFEFD5'],
 [11, 'Nitrous oxide (N2O)', '#4682B4'],
 [12, 'F-gases (Fluorinated)', '#778899']]

In [129]:
def LocalizaNode(nodes, texto):
    for item in nodes:
        if(item[1]==texto):
            return(item[0])

In [130]:
LocalizaNode(nodes, 'Waste')

8

In [131]:
# links with your data
links = [['Source','Target','Value','Link Color']]

for index, row in df.iterrows():
    links.append([0, LocalizaNode(nodes, row['Food System Stage']), row['GHG Emissions'], '#4994CE'])

    
for index, row in df.iterrows():
    links.append([LocalizaNode(nodes, row['Food System Stage']), LocalizaNode(nodes, row['GHG']), row['GHG Emissions'], '#FF0000'])
    #    [0,3,1,'rgba(127, 194, 65, 0.2)'],

In [132]:
links

[['Source', 'Target', 'Value', 'Link Color'],
 [0, 1, 977088.2, '#4994CE'],
 [0, 1, 531269669.1, '#4994CE'],
 [0, 1, 28252.6, '#4994CE'],
 [0, 2, 439033458.4, '#4994CE'],
 [0, 2, 42097145.98, '#4994CE'],
 [0, 2, 141183858.5, '#4994CE'],
 [0, 3, 32213540.1, '#4994CE'],
 [0, 3, 6325274.606, '#4994CE'],
 [0, 3, 1903493.844, '#4994CE'],
 [0, 4, 1015580.194, '#4994CE'],
 [0, 4, 20794809.19, '#4994CE'],
 [0, 4, 195351.805, '#4994CE'],
 [0, 5, 1099384.934, '#4994CE'],
 [0, 5, 18558681.81, '#4994CE'],
 [0, 5, 253567.8727, '#4994CE'],
 [0, 6, 31515.85057, '#4994CE'],
 [0, 6, 1415792.617, '#4994CE'],
 [0, 6, 2736973.669, '#4994CE'],
 [0, 6, 6986.909261, '#4994CE'],
 [0, 7, 460976.6006, '#4994CE'],
 [0, 7, 3706761.052, '#4994CE'],
 [0, 7, 2236095.91, '#4994CE'],
 [0, 8, 76206908.19, '#4994CE'],
 [0, 8, 135440.4116, '#4994CE'],
 [0, 8, 3148453.744, '#4994CE'],
 [1, 9, 977088.2, '#FF0000'],
 [1, 10, 531269669.1, '#FF0000'],
 [1, 11, 28252.6, '#FF0000'],
 [2, 9, 439033458.4, '#FF0000'],
 [2, 10, 42097145.98, '#FF0000'],
 [2, 11, 141183858.5, '#FF0000'],
 [3, 9, 32213540.1, '#FF0000'],
 [3, 10, 6325274.606, '#FF0000'],
 [3, 11, 1903493.844, '#FF0000'],
 [4, 9, 1015580.194, '#FF0000'],
 [4, 10, 20794809.19, '#FF0000'],
 [4, 11, 195351.805, '#FF0000'],
 [5, 9, 1099384.934, '#FF0000'],
 [5, 10, 18558681.81, '#FF0000'],
 [5, 11, 253567.8727, '#FF0000'],
 [6, 9, 31515.85057, '#FF0000'],
 [6, 10, 1415792.617, '#FF0000'],
 [6, 12, 2736973.669, '#FF0000'],
 [6, 11, 6986.909261, '#FF0000'],
 [7, 9, 460976.6006, '#FF0000'],
 [7, 10, 3706761.052, '#FF0000'],
 [7, 11, 2236095.91, '#FF0000'],
 [8, 9, 76206908.19, '#FF0000'],
 [8, 10, 135440.4116, '#FF0000'],
 [8, 11, 3148453.744, '#FF0000']]

In [133]:
# Retrieve headers and build dataframes
nodes_headers = nodes.pop(0)
links_headers = links.pop(0)
df_nodes = pd.DataFrame(nodes, columns = nodes_headers)
df_links = pd.DataFrame(links, columns = links_headers)

# Sankey plot setup
data_trace = dict(
    type='sankey',
    domain = dict(
      x =  [0,1],
      y =  [0,1]
    ),
    orientation = "h",
    valueformat = ".0f",
    node = dict(
      pad = 10,
    # thickness = 30,
      line = dict(
        color = "black",
        width = 0
      ),
      label =  df_nodes['Label'].dropna(axis=0, how='any'),
      color = df_nodes['Color']
    ),
    link = dict(
      source = df_links['Source'].dropna(axis=0, how='any'),
      target = df_links['Target'].dropna(axis=0, how='any'),
      value = df_links['Value'].dropna(axis=0, how='any'),
      color = df_links['Link Color'].dropna(axis=0, how='any'),
  )
)

layout = dict(
        title = "Draw Sankey Diagram from dataframes",
    height = 772,
    font = dict(
      size = 10),)

fig = dict(data=[data_trace], layout=layout)
iplot(fig, validate=False)